<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <connectionStrings>
 <!--
    <add name="AppDatabase" connectionString="Data Source=.; Initial Catalog=AppDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
   -->
    <add name="AppDatabase" connectionString="Server=tcp:ziwg.database.windows.net,1433;Database=AppDatabase;User ID=ziwg@ziwg;Password=ZIwwwG-2016!;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Zedd.DataQueryService" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="Zedd.IDataQueryService" />

        <endpoint address="mex" binding="mexHttpBinding"
        contract="IMetadataExchange" />
      </service>
      <service name="Zedd.LoginService" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="Zedd.ILoginService" />

        <endpoint address="mex" binding="mexHttpBinding"
        contract="IMetadataExchange" />
      </service>
      <service name="Zedd.RestDataService" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="Zedd.IRestDataService" behaviorConfiguration="restBehavior" />

        <endpoint address="mex" binding="mexHttpBinding"
        contract="IMetadataExchange" />
      </service>
      <service name="Zedd.DataCommandService" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="Zedd.IDataCommandService" />

        <endpoint address="mex" binding="mexHttpBinding"
        contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>