
@{
    ViewBag.Title = "Index";
    Layout = "_Layout.cshtml";
}

<h2>Witaj na stronie głownej panelu administratora</h2>

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Wiadomości</a></li>
    <li class="active">Lista</li>
</ol>

<table class="table table-striped">
    <tr>
        <td>ID Biblioteki</td>
        <td>Nazwa</td>
        <td>Adres</td>
        <td>Godziny otwarcia</td>
        <td>Dodatkowe informacje</td>
        <td>Działania</td>
    </tr>
    <!--(tr>td{$}+td{Biblioteka $$}+td{Łopinki Łuzyckie 4$$}+td{$$:00-1$:00}+td{brak})*5-->
    <tr>
        <td>1</td>
        <td>Biblioteka 01</td>
        <td>Łopinki Łuzyckie 401</td>
        <td>01:00-11:00</td>
        <td>brak</td>
        <td>
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <i class="icon icon-data fa fa-pencil" aria-hidden="true"></i> Edytuj
            </button>
            <button type="button" class="btn btn-danger" aria-label="Left Align">
                <i class="icon icon-data fa fa-trash" aria-hidden="true"></i> Usuń
            </button>
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>Biblioteka 01</td>
        <td>Łopinki Łuzyckie 401</td>
        <td>01:00-11:00</td>
        <td>brak</td>
        <td>
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <i class="icon icon-data fa fa-pencil" aria-hidden="true"></i> Edytuj
            </button>
            <button type="button" class="btn btn-danger" aria-label="Left Align">
                <i class="icon icon-data fa fa-trash" aria-hidden="true"></i> Usuń
            </button>
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>Biblioteka 01</td>
        <td>Łopinki Łuzyckie 401</td>
        <td>01:00-11:00</td>
        <td>brak</td>
        <td>
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <i class="icon icon-data fa fa-pencil" aria-hidden="true"></i> Edytuj
            </button>
            <button type="button" class="btn btn-danger" aria-label="Left Align">
                <i class="icon icon-data fa fa-trash" aria-hidden="true"></i> Usuń
            </button>
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>Biblioteka 01</td>
        <td>Łopinki Łuzyckie 401</td>
        <td>01:00-11:00</td>
        <td>brak</td>
        <td>
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <i class="icon icon-data fa fa-pencil" aria-hidden="true"></i> Edytuj
            </button>
            <button type="button" class="btn btn-danger" aria-label="Left Align">
                <i class="icon icon-data fa fa-trash" aria-hidden="true"></i> Usuń
            </button>
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>Biblioteka 01</td>
        <td>Łopinki Łuzyckie 401</td>
        <td>01:00-11:00</td>
        <td>brak</td>
        <td>
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <i class="icon icon-data fa fa-pencil" aria-hidden="true"></i> Edytuj
            </button>
            <button type="button" class="btn btn-danger" aria-label="Left Align">
                <i class="icon icon-data fa fa-trash" aria-hidden="true"></i> Usuń
            </button>
        </td>
    </tr>
</table>

<button type="button" class="btn btn-success btn-lg">
    <i class="icon icon-data fa fa-plus" aria-hidden="true"></i> Dodaj
</button>