
@{
    ViewBag.Title = "Strona główna";
    Layout = "_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="title-description">
    Witaj na stronie głownej systemu PWr Info&reg;. Z poziomu systemu możesz w łatwy sposób nim zarządzać.
</div>

