
@{
    ViewBag.Title = "Edycja komunikatu";
    Layout = "_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="title-description">
    Tutaj możesz zmienić treść komunikatu.
</div>

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Komunikaty</a></li>
    <li class="active">Edycja</li>
</ol>

<form>
    <div class="form-group">
        <label for="id-komunikatu">ID komunikatu</label>
        <input type="text" class="form-control" id="id-komunikatu" placeholder="ID komunikatu" value="123456">
    </div>
    <div class="form-group">
        <label for="tytul">Tytuł</label>
        <input type="text" class="form-control" id="tytul" placeholder="Tytuł" value="Jakiś ciekawy tytuł typu 'Lorem Ipsum'">
    </div>
    <div class="form-group">
        <label for="tresc">Treść</label>
        <input type="text" class="form-control" id="tresc" placeholder="Treść" value="Treść wydarzenia, które jeszcze nie wiadomo czy się odbędzie.">
    </div>
    <div class="form-group">
        <label for="id-wydzialu">ID wydziału</label>
        <input type="text" class="form-control" id="id-wydzialu" placeholder="ID wydziału" value="654">
    </div>
    <div class="form-group">
        <label for="id-usera">ID użytkownika</label>
        <input type="text" class="form-control" id="id-usera" placeholder="ID użytkownika" value="200855">
    </div>
    <div class="form-group">
        <label for="isImportant">Czy ważne?</label>
        <select id="isImportant" class="form-control">
            <option value="yes">Tak</option>
            <option value="no">Nie</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Zapisz dane</button>
    <button type="reset" class="btn btn-default btn-lg">Wyczyść</button>
</form>