
@{
    ViewBag.Title = "Użytkownicy";
    Layout = "_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="title-description">
    Lista użytkowników zarejestrowanych w systemie.
</div>


<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Użytkownicy</a></li>
    <li class="active">Lista</li>
</ol>

<table class="table table-striped">
    <tr>
        <td>ID użytkownika</td>
        <td>Imię</td>
        <td>Nazwisko</td>
        <td>Hasło</td>
        <td>ID jednostki</td>
        <td>Czy admin?</td>
        <td>Działania</td>
    </tr>
    <!--(tr>td{$}+td{Biblioteka $$}+td{Łopinki Łuzyckie 4$$}+td{$$:00-1$:00}+td{brak})*5-->
    <tr>
        <td>1</td>
        <td>Karol</td>
        <td>Iksiński</td>
        <td>43310409e24094b8b00c02ac790da086</td>
        <td>4</td>
        <td>nie</td>
        <td>
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <i class="icon icon-data fa fa-pencil" aria-hidden="true"></i>
                <span class="button-text">Edytuj</span>
            </button>
            <button type="button" class="btn btn-danger" aria-label="Left Align">
                <i class="icon icon-data fa fa-trash" aria-hidden="true"></i>
                <span class="button-text">Usuń</span>
            </button>
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>Karol</td>
        <td>Iksiński</td>
        <td>43310409e24094b8b00c02ac790da086</td>
        <td>4</td>
        <td>nie</td>
        <td>
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <i class="icon icon-data fa fa-pencil" aria-hidden="true"></i>
                <span class="button-text">Edytuj</span>
            </button>
            <button type="button" class="btn btn-danger" aria-label="Left Align">
                <i class="icon icon-data fa fa-trash" aria-hidden="true"></i>
                <span class="button-text">Usuń</span>
            </button>
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>Karol</td>
        <td>Iksiński</td>
        <td>43310409e24094b8b00c02ac790da086</td>
        <td>4</td>
        <td>nie</td>
        <td>
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <i class="icon icon-data fa fa-pencil" aria-hidden="true"></i>
                <span class="button-text">Edytuj</span>
            </button>
            <button type="button" class="btn btn-danger" aria-label="Left Align">
                <i class="icon icon-data fa fa-trash" aria-hidden="true"></i>
                <span class="button-text">Usuń</span>
            </button>
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>Karol</td>
        <td>Iksiński</td>
        <td>43310409e24094b8b00c02ac790da086</td>
        <td>4</td>
        <td>nie</td>
        <td>
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <i class="icon icon-data fa fa-pencil" aria-hidden="true"></i>
                <span class="button-text">Edytuj</span>
            </button>
            <button type="button" class="btn btn-danger" aria-label="Left Align">
                <i class="icon icon-data fa fa-trash" aria-hidden="true"></i>
                <span class="button-text">Usuń</span>
            </button>
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>Karol</td>
        <td>Iksiński</td>
        <td>43310409e24094b8b00c02ac790da086</td>
        <td>4</td>
        <td>nie</td>
        <td>
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <i class="icon icon-data fa fa-pencil" aria-hidden="true"></i>
                <span class="button-text">Edytuj</span>
            </button>
            <button type="button" class="btn btn-danger" aria-label="Left Align">
                <i class="icon icon-data fa fa-trash" aria-hidden="true"></i>
                <span class="button-text">Usuń</span>
            </button>
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>Karol</td>
        <td>Iksiński</td>
        <td>43310409e24094b8b00c02ac790da086</td>
        <td>4</td>
        <td>nie</td>
        <td>
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <i class="icon icon-data fa fa-pencil" aria-hidden="true"></i>
                <span class="button-text">Edytuj</span>
            </button>
            <button type="button" class="btn btn-danger" aria-label="Left Align">
                <i class="icon icon-data fa fa-trash" aria-hidden="true"></i>
                <span class="button-text">Usuń</span>
            </button>
        </td>
    </tr>
</table>

<button type="button" class="btn btn-success btn-lg">
    <i class="icon icon-data fa fa-plus" aria-hidden="true"></i> Dodaj
</button>